.header-container {
    margin: 0 auto;
    max-width: 1242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-container {
    margin: 0 auto;
    max-width: 1242px;
}