@font-face {
    font-family: "Raleway-light";
    src: url(./Raleway/static/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-regular";
    src: url(./Raleway/static/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-medium";
    src: url(./Raleway/static/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-semi-bold";
    src: url(./Raleway/static/Raleway-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-bold";
    src: url(./Raleway/static/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-regular";
    src: url(./Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-medium";
    src: url(./Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-bold";
    src: url(./Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Source-Sans-regular";
    src: url(./Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Condensed-bold";
    src: url(./Roboto_Condensed/RobotoCondensed-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
