.cartPage {
    padding-top: 60px;
    padding-bottom: 190px;
    width: 88%;

    &__title {
        color: rgba(29, 31, 34, 1);
        font-size: 32px;
        line-height: 40px;
        font-family: "Raleway-bold", sans-serif;
        font-weight: 700;
    }

}