.cart {
    position: relative;
    z-index: 1;

    &__btn {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &__counter {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        background-color: rgba(29, 31, 34, 1);
        border-radius: 50%;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        font-size: 14px;
        font-family: "Roboto-bold", sans-serif;
    }

    &__overlay {
        position: fixed;
        width: 100vw;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 68px, rgba(57, 55, 72, 0.22) 68px);
        height: 100vh;
        left: 0;
        top: 0;
    }

    &__menu {
        position: absolute;
    }

    &__feeling {
        width: 325px;
        padding: 8px 16px 16px 16px;
        background-color: #fff;
        position: absolute;
        right: 3%;
        top: 68px;
        color: rgba(29, 31, 34, 1);
        list-style: none;
        max-height: 650px;
        overflow: scroll;

        &>h3 {
            font-family: "Raleway-bold", sans-serif;
            font-size: 16px;
            line-height: 25px;
        }

        &-count {
            font-family: "Raleway-regular", sans-serif;
        }

        &-title {
            margin-bottom: 23px;
        }
    }

    &__item {
        min-height: 137px;
        display: flex;
        margin-bottom: 40px;
    }

    &__item-info {
        width: 136px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: 18px;

        &__price {
            font-family: "Raleway-medium";
            font-weight: 500;

        }
    }

    &__item-title {
        font-family: "Raleway-light", "sans-serif";
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
        color: rgba(29, 31, 34, 1);
        width: 130px;
        margin-bottom: 5px;
    }

    &__sizeControler {
        display: flex;
    }

    &__sizeInputBox {
        position: relative;
        flex-basis: 24px;
        height: 24px;
        margin-right: 8px;
    }

    &__sizeInput {
        opacity: 0;
    }

    &__sizeInput:checked+label {
        color: rgba(29, 31, 34, 1);
        border-color: rgba(29, 31, 34, 1);
        background-color: #fff;
    }

    &__sizeLabel {
        width: 24px;
        height: 24px;
        border: 1px #1d1f22 solid;
        position: absolute;
        left: 0;
        top: 0;
        border-color: #a6a6a6;
        background-color: rgba(128, 128, 128, 0.26);
        color: #a6a6a6;
        font-family: "Source-Sans-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    &__item-quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
        align-items: center;
        font-family: "Raleway-medium";
        font-weight: 500;
        font-size: 16px;

        &__btn {
            width: 24px;
            height: 24px;
            border: 1px solid rgba(29, 31, 34, 1);
            color: rgba(29, 31, 34, 1);
            background-color: #fff;
            position: relative;
            cursor: pointer;
        }

        &__btn.plus::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 1px;
            border-radius: 3px;
            background-color: currentColor;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__btn.plus::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 8px;
            border-radius: .5px;
            background-color: currentColor;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__btn.minus::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 1px;
            border-radius: 3px;
            background-color: currentColor;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item-img {
        width: 105px;


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__total-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: rgba(29, 31, 34, 1);
        margin-bottom: 35px;

        &__title {
            font-family: "Roboto-medium", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;

        }

        &__price {
            font-family: "Raleway-bold", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__controls {
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: space-between;

        & button {
            width: 140px;
            height: 100%;
            border-radius: 0;
            cursor: pointer;
        }

        &-bag {
            border: solid 1px rgba(29, 31, 34, 1);
            background-color: #fff;
        }

        &-check {
            border: none;
            background-color: rgba(94, 206, 123, 1);
            color: #fff;
        }
    }


}