.products {
    padding-top: 60px;
    padding-bottom: 190px;


    &__title {
        font-family: "Raleway-regular", sans-serif;
        font-size: 42px;
        line-height: 67px;
        font-weight: 400;
        margin-bottom: 103px;
    }
}