.textControler {
    width: 136px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__box {
        border: solid 1px rgba(29, 31, 34, 1);
        padding: 5px;
        margin-right: 8px;
        position: relative;
        height: 24px;
        width: 50px;

        input {
            opacity: 0;
        }

        label {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px;
            text-align: center;
        }

        input:checked+label {
            background-color: rgba(109, 109, 109, 0.384);
        }
    }
}